=haml :_header, :locals => {:title => "Inputs", :authbtn => true, :backbtn => true}
%div{"data-role" => "content"}
  %ul{"data-role" => "listview", "data-inset" => "true"}
    - @results.each do |result|
      %li 
        %a{:href => "#", "data-rel" => "dialog"}
          %h3= result.name
          %p= result.value
%br/
=haml :_footer, :locals => {:title => "RS API 1.5", :onbottom => true} 

