%h1
  %a{:href => "/api/deployments"} Deployments
  %span >
  %a{:href => @deployment.href }= @deployment.name
  %span > Inputs
.scrollable_list.inputs
  - @results[0].each do |input|
    %p
      %b
        %span= input["name"]
      %span= input["value"]

