%h1
  %a{:href => "/api/deployments"} Deployments
  %span >
  %a= @deployment.name
%h2= @deployment.description
%p
  - @deployment.links.each do |link|
    %a{:href => link['href']}= link['rel'].capitalize
    %span ::