%h1
  %a{:href => "/api/deployments"} Deployments
  %span >
  %a= @deployment[0]["name"]
%h2= @deployment[0]["description"]
%p
  %a{:href => @deployment[0]["links"][0]["href"].to_s + "/inputs"} Inputs
  %span ::
  %a{:href => @deployment[0]["links"][0]["href"].to_s + "/servers"} Servers
